{% extends 'lmn/base.html' %}
{% block content %}


<!-- A user's profile page.

Includes list of user's notes with title and preview of text.
Text truncated to 200 characters. -->

<h2 id='username'>{{ user.username }}</h2>

<div class='profile_info'>
  <p id='users_name'>{{ user.first_name }} {{user.last_name}}</p>
  <p id='email'>{{ user.email }}</p>
  {% if user.username %}
  <form action="{% url 'lmn:edit_user_profile' %}">
    <input id="EditProfileForm" type='submit' value='Edit Profile'>
  </form>
  {% endif %}
</div>

<h2 id='username_notes'>{{ user.username }}'s notes</h2>
<p><div class="fb-like" data-href="request.build_absolute_uri" data-layout="standard"
         data-action="like" data-show-faces="true" data-share="true"></div>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"></a>
{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title"><a href="{% url 'lmn:note_detail' note_pk=note.pk %}">{{ note.title }}</a></h3>
  <P class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</P>
  <p class="note_text">{{ note.text|truncatechars:300}}</p>
  <p class="note_posted_at">{{ note.posted_date}}</p>
<div class='row'>
    <div class='col-sm-12'>
    {{ instance.content|linebreaks }}<br/>
    <hr/>
    <hr/>
    <div class="fb-comments" data-href="request.build_absolute_uri" data-width="" data-numposts="5">

    </div>
    </div>
  <hr>

</div>

{% empty %}

    <p id='no_records'>No notes.</p>

{% endfor %}


{% endblock %}
